<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style/reset.css">
	<link rel="stylesheet" type="text/css" href="style/main.css">
</head>
<body>
<div class="container">
	<div class="cont_left">
		<div class="con">
			<img src="images/logo.png">
			<span class="add"></span>
			<div class="course">
				<div class="bg"></div>
				<p>秒味云课堂</p>
				<img src="images/pic.png">
			</div>
		</div>
		<p class="txt">秒味云课堂在线</p>
		<div class="btn">
		<span class="watch">627,400</span>
		<span class="dis">627</span>
		</div>
	</div>
	<!-- cont_right -->
	<div class="cont_right">
		<div class="con">
			<img src="images/logo.png">
			<span class="add"></span>
			<div class="course">
				<div class="bg"></div>
				<p>秒味云课堂</p>
				<img src="images/pic.png">
			</div>
		</div>
		<p class="txt">秒味云课堂在线</p>
		<div class="btn">
		<span class="watch">627,400</span>
		<span class="dis">627</span>
		</div>
	</div>
</div>
</body>
</html>