@charset "UTF-8";


.weeks{
	padding: 0 29px 26px 31px;
	width: 685px;
	border: 1px solid #bfbfbf;
	margin: 50px auto;
}
.title{
	height: 84px;
	line-height: 84px;
	font-size: 20px;
	font-weight: normal;
	padding-left: 27px;
	color: #000;
	background: url(../images/logo.png) no-repeat left center;
	margin-bottom: 1px;
}
/*-------------------intro---------------*/

.intro{
	width: 685px;
}
.intro .item{
	width: 299px;
	height: 180px;
	float: left;
}
.margin_right{
	margin-right: 72px;
}
.item dt{
	width: 128px;
	height: 178px;
	border: 1px solid #bfbfbf;
	float: left;
}
.item dd{
	width: 150px;
	height: 180px;
	float: right;
}
.weeks dd h4{
	color: #06b1da;
	height: 16px;
	line-height: 16px;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 12px;
}
.weeks dd p{
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	color: #6a6a6a;
}
.btn{
	height: 30px;
	margin-top: 18px;
}
.btn .buy{
	width: 66px;
	height: 26px;
	display: block;
	background-color: #6db6f0;
	border: 1px solid #06b1da;
	padding: 1px;
	float: left;
}
.btn .buy span{
	display: block;
	width: 66px;
	height: 26px;
	background-color: #00afd9;
	line-height: 26px;
	text-align: center;
	color: #fff;
}

.btn .pre{
	display: block;
	width: 66px;
	height: 26px;
	border: 2px solid #06b1da;
	color: #06b1da;
	line-height: 26px;
	text-align: center;
	float: right;
}
/*------------------list----------------------*/
.list{
	margin-top: 40px;
}
.list dl{
	width: 130px;
	height: 174px;
	margin-right: 55px;
	float: left;
}
.list dt{
	width: 128px;
	height: 88px;
	border: 1px solid #bfbfbf;
	margin-bottom: 8px;
}
.list dd h4{
	height: 24px;
	line-height: 24px;
	margin-bottom: 0;
}

.list .fix_right{
	margin-right: 0;
}



















